.container{
    display: grid;
    grid-template-columns: [first-col] 15% [second-col] 70% [third-col] 15% [last-col];
    grid-template-rows: [first-line] 10% [second-line] 10% [third-line] 60% [fourth-line] 20% [last-line];
    margin-top: 10px;
    height: 20rem;
    background: #D9D9D9;   
}

.number {
    grid-column-start: third-col;
    grid-row-start: first-line;   
    font-family: 'Concert One', cursive;
}

.name {
    grid-column-start: second-col;
    grid-row-start: second-line;
    font-family: 'Concert One', cursive;
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 10px;
}